body {
    overflow-x: hidden;
    margin: 0;
    background-image: url("LETMEOUT.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top 34px center;
    background-size: 80%;
    display: auto;
    max-width:100%;
}
article {
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    max-width: 100%;
}
h1 {
    font-size: 30px;
    font-family: Death;
    display: flex;
    justify-content: center;
    color: crimson;
    position: fixed;
    top: 10%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}

h2 {
    text-align: center;
}
footer {
    font-size: 30px;
    font-family: Death;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: crimson;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}
header {
    font-size: 30px;
    background-color: black;
    color: crimson;
    font-family: Death;
    text-align: center;
    width: 100%;
    margin: 0;
    position: fixed absolute;
}
.fix-canvas {
    width: 1536px;
    height: 619px;
    position:fixed absolute;
}
html {
    position: relative;

}
@font-face {
    font-family: "Death";
    src: url("Death Branch.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}